
{% extends "base.html" %}

{% block title %}
Student Achievement Profile | ESLMS
{% endblock %}

{% block page_title %}
Student Achievement Profile
{% endblock %}

{% block content %}

<h3>Student Information</h3>

<p>This section will display student profile information.</p>

<hr>

<h3>Employment Information</h3>

<p>This section will display current employment.</p>

<hr>

<h3>Awards</h3>

<p>This section will display all awards received.</p>

<hr>

<h3>Achievements</h3>

<p>This section will display the student's achievements.</p>

{% endblock %}