
<div class="dashboard-card">

    <div class="dashboard-header">
        <i class="bi bi-building me-2"></i>
        School Information
    </div>

    <div class="card-body">

        <div class="info-row">
            <div class="info-label">School</div>
            <div class="info-value">{{ student.school_name }}</div>
        </div>

        <div class="info-row">
            <div class="info-label">Village</div>
            <div class="info-value">{{ student.village_name }}</div>
        </div>

        <div class="info-row">
            <div class="info-label">Mandal</div>
            <div class="info-value">{{ student.mandal_name }}</div>
        </div>

        <div class="info-row">
            <div class="info-label">District</div>
            <div class="info-value">{{ student.district_name }}</div>
        </div>

    </div>

</div>