
<div class="dashboard-card">

    <div class="dashboard-header">
        <i class="bi bi-journal-check me-2"></i>
        SSC Performance
    </div>

    <div class="card-body">

        <div class="info-row">
            <div class="info-label">SSC Year</div>
            <div class="info-value">{{ student.ssc_year }}</div>
        </div>

        <div class="info-row">
            <div class="info-label">Hall Ticket No.</div>
            <div class="info-value">{{ student.ssc_hallticket_no }}</div>
        </div>

        <div class="info-row">
            <div class="info-label">SSC Percentage</div>
            <div class="info-value">{{ student.ssc_percentage }}%</div>
        </div>

        <div class="info-row">
            <div class="info-label">Grade</div>
            <div class="info-value">{{ student.ssc_grade }}</div>
        </div>

    </div>

</div>